<% if signed_in? %>

<div class="row-fluid">
  <div class="span3">
    <%= render 'shared/menu_block' %>
  </div>
  <div class="span8 offset1">
    <%= render 'recipes/lastest_feed' %>
  </div>
</div>
<div class="row-fluid">
    <%= render 'recipes/recipe_index' %>
  
</div>
<% else %>
  <div class="center hero-unit">
    <h1>Hello, fellow food-lover!</h1>

    <h2 id="hero-head">
      Say your pledge to share your food-passion with people around the world!
    </h2>

    <%= link_to "Me loves food!", signup_path,
                                class: "btn btn-warning  btn-large" %>

  </div>

  <div id="recipe-feed-block">
    <h3>LASTEST FEED</h3>
  	<%= render 'recipes/recipe_index' %>
	</div>
<% end %>

