<% if signed_in? %>


<%= render 'shared/search_form' %>
<%= render 'recipes/lastest_feed' %>
<%= render 'recipes/recipe_index' %>

<% else %>
  <div class="center hero-unit">
    <h1>Hello, fellow food-lover!</h1>

    <h2 id="hero-head">
      Say your pledge to share your food-passion with people around the world!
    </h2>

    <%= link_to "Me loves food!", signup_path,
                                class: "btn btn-warning  btn-large" %>

  </div>
  <%= render 'recipes/recipe_index' %>
<% end %>
