<fieldset>
	<table>
		<tr>
			<td><%= f.text_field :item, placeholder:"E.g. apple"  %></td>
			<td><%= f.text_field :amount, placeholder:"amount"  %></td>
			<td><%= f.text_field :unit, placeholder:"unit"  %></td>
			<td><%= f.text_field :alternative, placeholder:"alternative"  %></td>
			<td><%= f.hidden_field :_destroy %><%= link_to "remove", '#', class: "remove_fields" %></td>
		</tr>
		<tr>
			
		</tr>
	</table>
</fieldset>
