<div class="span12">
	<div class="content-block recipe">
			<h3 class="recipe-title home-heading ">All Recipes</h3>
		<br>
			<div class="row-fluid">
				<%= render @recipes %>	
			</div>
			<%= will_paginate @recipes %>
	</div>
	
	<br>

	<div class="content-block appetizer">
			<h3 class="app-title home-heading">Appetizers</h3>
		
		<br>	
			<div class="row-fluid">
				<%= render @appetizers %>	
			</div>
			<%= will_paginate @appetizers, param_name: 'a_page' %>
	</div>

	<br>

	<div class="content-block maind">
			<h3 class="maind-title home-heading">Main Dish</h3>
		<br>
			<div class="row-fluid">
				<%= render @mains %>	
			</div>
			<%= will_paginate @mains, param_name: 'm_page' %>
	</div>
	
	<br>

	<div class="content-block dessert">
			<h3 class="des-title home-heading">Desserts</h3>
		
		<br>
			<div class="row-fluid">
				<%= render @desserts %>	
			</div>
			<%= will_paginate @desserts, param_name: 'd_page' %>
	</div>
	
	<br>

	<div class="content-block beverage">
			<h3 class="bev-title home-heading">Beverages</h3>
		
		<br>
			<div class="row-fluid">
				<%= render @beverages %>	
			</div>
			<%= will_paginate @beverages, param_name: 'b_page' %>
	</div>

</div>