

<div class="span3">  
  <div class="thumbnail">
    
      <%= image_tag recipe.image_url(:thumb).to_s %>

      <%= @recipe_image %>
      <div class="caption">

        <h3><%= link_to recipe.name, recipe %></h3>
        <small>by 
          <span class="user">
            <%= link_to recipe.user.name, recipe.user %>
          </span> 
        </small>
<br>
          <strong>LEVEL:    </strong><%= recipe.level %><br>
          <strong>COURSE:   </strong><%= recipe.course %><br>
          <strong>COOKTIME: </strong><%= recipe.cook_time %><br>
          <strong>SERVING:  </strong><%= recipe.serving %><br>  
            
        <span class="timestamp">
          Posted <%= time_ago_in_words(recipe.created_at) %> ago.
        </span>
        <% if current_user?(recipe.user) %>
          <%= link_to "delete", recipe, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: recipe.name %>
        <% end %>
        <%= pluralize(recipe.votes.up.count, "like") %> 
        <% if current_user.try(:admin?)%>
          <% if recipe.featured? %>
            <%= link_to 'Unfeature', unfeature_recipe_path(recipe) %> 
          <% else %>
            <%= link_to 'Feature', feature_recipe_path(recipe) %> 
          <% end %>
        <% end %>
      </div>
    
  </div>
</div>


