<div class="container">
<div class="row-fluid">
  <div class="span heading-block">
    <span class="recipe-name-title heading-title">
      <%= link_to @recipe.name, @recipe %>
    </span>
    
  </div>
</div>

<div class="row-fluid">
  <div class="span recipe-detail">    
    <small>
      <i>
        <span class="user">
          by <%= link_to @recipe.user.name, @recipe.user %>
        </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(@recipe.created_at) %> ago.
        </span>
      </i>
    </small>
  </div>
</div>




<div class="row-fluid">
  <div class="pull-left span6 ">
    <%= image_tag @recipe.image_url(:fit_pad).to_s, class: "img-polaroid recipe-image-detail" %>
  </div>
  <div class="span5">
    <strong>LEVEL:    </strong><%= @recipe.level %><br>
    <strong>COURSE:   </strong><%= @recipe.course %><br>
    <strong>COOKTIME: </strong><%= @recipe.cook_time %><br>
    <strong>SERVING:  </strong><%= @recipe.serving %><br>
  </div>
</div>



<div class="row-fluid">
  <span class="heading-title">
    Ingredients
  </span>
  <p>
  <ul>
    <% for ingredient in @recipe.ingredients %>
    <li><%= h ingredient.amount %> <%= h ingredient.unit %> <%= h ingredient.item %></li>
    <% end %>
  </ul>
</div>

        <br><h4>INGREDIENTS</h4>
        <ol>
          <% for ingredient in @recipe.ingredients %>
          <li><%= h ingredient.amount %> <%= h ingredient.unit %> <%= h ingredient.item %></li>
          <% end %>
        </ol>

        <br><h4>DIRECTIONS</h4>
        <ol>
          <% for direction in @recipe.directions %>
          <li><%= h direction.content %> </li>
          <% end %>
        </ol>


        <br><h4>TAG</h4>
        <p>Tags: <%= raw @recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back to Recipe', recipe_path %> |
<%= link_to "Upvote", like_recipe_path(@recipe), method: :put %> | 
<%= link_to "Downvote", dislike_recipe_path(@recipe), method: :put %>

<%= @recipe.votes.up.count %> LIKES

</div>
<!-- <strong>INGREDIENTS:    </strong><br><%= (h @recipe.ingredients).gsub("\n", '<br>').html_safe%><br>
<strong>DIRECTIONS:   </strong><br><%=  (h @recipe.directions).gsub("\n", '<br>').html_safe %><br>
 -->