<div class="span12">
	<div class="section-block ">
		<h3 class="recipe-title heading-title "><%= link_to "All Recipes", recipes_path %></h3>
		<div class="row-fluid">
			<%= render @recipes %>	
		</div>
		<div class="row-fluid">
			<div class="pull-right">
		<%= will_paginate @recipes %>
		</div>
		</div>
	</div>
	
	<br>

	<div class="section-block ">
		<h3 class="app-title heading-title">Appetizers</h3>
		<div class="row-fluid">
			<%= render @appetizers %>	
		</div>
		<div class="row-fluid">
			<div class="pull-right">
		<%= will_paginate @appetizers, param_name: 'a_page' %>
		</div>
		</div>
	</div>

	<br>

	<div class="section-block ">
		<h3 class="maind-title heading-title">Main Dish</h3>
		<div class="row-fluid">
			<%= render @mains %>	
		</div>
		<div class="row-fluid">
			<div class="pull-right">
			<%= will_paginate @mains, param_name: 'm_page' %>
			</div>
		</div>
	</div>

	<br>

	<div class="section-block ">
		<h3 class="des-title heading-title">Desserts</h3>
		<div class="row-fluid">
			<%= render @desserts %>	
		</div>
		<div class="row-fluid">
			<div class="pull-right">
		<%= will_paginate @desserts, param_name: 'd_page' %>
			</div>
		</div>
	</div>

	<br>

	<div class="section-block ">
		<h3 class="bev-title heading-title">Beverages</h3>
		<div class="row-fluid">
			<%= render @beverages %>	
		</div>
		<div class="row-fluid">
			<div class="pull-right">
		<%= will_paginate @beverages, param_name: 'b_page' %></div>
		</div>
	</div>

</div>