<% provide(:title, @recipe.name) %>
<%= render 'recipes/recipe_details'%>

<div id="comment_feed">
	<div class="row">
	<h3 ><div id="comments_count">Comments (<%= @comment_items.count %>)</h3>
	</div>
	<% if signed_in? %>
<%= render 'shared/comment_form' %>
<% end %>
	<div class="row">
	  <ul class="recipes unstyle">
	  	<div id="comment_item">
	  		<%= render 'comments/comment_item', comments: @comment_items %>
	  	</div>
	    
	  </ul>

	  <%= will_paginate @comment_items %>


</div>
</div>
