<!--<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.recipes.any? %>
      <h3>My Recipes (<%= @user.recipes.count %>)</h3>
      <ol class="microposts">
        <%= render @recipes %>
      </ol>
      <%= will_paginate @recipes %>
    <% end %>
  </div>
</div> -->

<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span9">

      <div class ="heading-title-black">
        <%= gravatar_for @user %>
        <%= @user.name %>'s Recipes (<%= @user.recipes.count %>)
      </div>

      <%= render 'shared/stats' %>

  </div>
  <div class="span3 pull-right">
     <%= render 'follow_form' if signed_in? %>
  </div>


</div>
<% if @user.recipes.any? %>
  <div class="row">
    <div class="span5 pull-right">
      <%= will_paginate @recipes %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <ul class="inline unstyled">
        <li><%= render @recipes %></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span5 pull-right">
      <%= will_paginate @recipes %>
    </div>
  </div>

<% end %>



