<div class="media recipe-feed-item">
    <div class="pull-left span4">

      <%= link_to image_tag(feed_item.image_url(:thumb).to_s), feed_item %>
    </div>
    <div class="media-body ">
      <span class="recipe-name-thumb"><%= link_to feed_item.name, feed_item %></span><br>
         <small>
          <i>
            <span class="user">
              by <%= link_to feed_item.user.name, feed_item.user %>
            </span>
            <span class="timestamp">
              Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
            </span>
          </i>
        </small>
            <i><%= feed_item.description %></i><br>
          <i class="icon-asterisk"></i> <%= feed_item.level %><br>
          <i class="icon-glass"></i> <%= feed_item.course %><br>
          <i class="icon-time"></i> <%= feed_item.cook_time %> minutes<br>
          <i class="icon-user"></i> <%= pluralize(feed_item.serving, "person") %>  <br>  
            
        
    </div>
</div>