<div class="media recipe-feed-item">
    <a href="#" class="pull-left">

      <%= image_tag feed_item.image_url(:thumb).to_s %>
    </a>
    <div class="media-body">
      <h3 class="media-heading"><%= link_to feed_item.name, feed_item %>
         <small>
          <i>
            <span class="user">
              by <%= link_to feed_item.user.name, feed_item.user %>
            </span>
            <span class="timestamp">
              Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
            </span>
          </i>
        </small>
      </h3>
            <i><%= feed_item.description %></i><br>
          <strong>LEVEL:    </strong><%= feed_item.level %><br>
          <strong>COURSE:   </strong><%= feed_item.course %><br>
          <strong>COOKTIME: </strong><%= feed_item.cook_time %><br>
          <strong>SERVING:  </strong><%= feed_item.serving %><br>
        
    </div>
</div>