
<%= form_for @recipe, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <div ><h3 class="search-title">Recipe Details</h3></div>
    <br>
    <table>
      <div class ="section-container">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, placeholder:"Your Recipe Name" %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_field :description, placeholder:"E.g. A recipe good for family dinner!" %></td>
      </tr>
      <tr>
        <td><%= f.label :tag_list, "Tags (separated by commas)" %></td>
        <td><%= f.text_field :tag_list, placeholder:"E.g. vegetarian, eat-clean, sweet-tooth" %></td>
      </tr>
      <tr>
        <td><%= f.label :level %></td>
        <td><%= f.collection_select :level, FormOptions::LEVELS,:to_s, :to_s, :include_blank => true %></td>
      </tr>
      <tr>
        <td><%= f.label :course %>
        <td><%= f.collection_select :course, FormOptions::COURSES,:to_s, :to_s, :include_blank => true %></td>
      </tr>
      <tr>
        <td><%= f.label :cook_time %></td>
        <td><%= f.text_field :cook_time, placeholder:"E.g. 20" %></td>
        <td> minutes</td>
      </tr>
      <tr>
        <td><%= f.label :serving %></td>
        <td><%= f.text_field :serving, placeholder:"2" %></td>
        <td> persons</td>
<!--       <tr>
        <td><%= f.label :privacy %></td>
        <td><%= f.collection_select :privacy, FormOptions::RECIPE_PRIVACY,:to_s, :to_s, :include_blank => true %></td>
      </tr> -->

      <tr>
        <td><%= f.label :image %></td>
        <td><%= f.file_field :image %> <td>
      </tr>
        </div>
    </table>
    <p>




  <div ><h3 class="search-title">Ingredients</h3></div>
    <br>

        <div class ="section-container">
          <div class="row pull-left">
            <div class="span2">
              <b class="pull-right">ITEM</b>
            </div>
            <div class="span2">
              <b class="pull-right">AMOUNT</b>
            </div>
            <div class="span2">
              <b class="pull-right">UNIT</b>
            </div>
            <div class="span2">
              <b class="pull-right">ALTERNATIVE</b>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <%= f.fields_for :ingredients do |builder| %>
              <%= render 'recipes/ingredient_fields', :f => builder %>
              <% end %>
      
              <%= link_to_add_fields "Add Ingredient", f, :ingredients %>
            </div>
          </div>
        </div>
      
      <p>



<div ><h3 class="search-title">Directions</h3></div>
<br>
  <table>
    <div class ="section-container">
      <%= f.fields_for :directions do |builder| %>
          <%= render 'recipes/direction_fields', :f => builder %>
      <% end %>
      <%= link_to_add_fields "Add Direction", f, :directions %>
    </div>
  </table>
<br>
<div class="pull-right">
  <%= f.submit "Submit", class: "btn btn-large btn-success" %>
</div>
<% end %>


