<container class="row-fluid">
<%= search_form_for @q, class: "form-inline", url: search_recipes_path,
                        html: { method: :post } do |f| %>
  <div class="field">
    <small><%= f.label :name_cont, "Recipe Name Contains:" %></small>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <small><%= f.label :cook_time_lteq, "Cooking Time less than:" %></small>
    <%= f.text_field :cook_time_lteq %>   
  </div>
<div class="field">
  <small><%= f.label :ingredients_item_cont, "Contains Ingredient:" %></small>
  <%= f.text_field :ingredients_item_cont %>
</div>

<div class="field">
  <small><%= f.label :course_eq, "Course:" %></small>
<%= f.select :course_eq, options_from_collection_for_select(Recipe.unique_by_course, :course, :course), include_blank: true %>
</div>

<div class="field">
  <small><%= f.label :level_eq, "Level:" %></small>
<%= f.select :level_eq, options_from_collection_for_select(Recipe.unique_by_level, :level, :level), include_blank: true %>
</div>


<br>
  <%= f.submit "search", class: "btn pull-right" %>
<% end %>



</container>